// Colors
$dark-blue:      #1B31A8;
$blue:           #0079FF;
$black:          #1C1E1F;
$background-color: #E9EEF2;
$border-color:   #E9EEF2;
$light-gray:     #CBD5DC;
$gray:           #8A9CA9;
$dark-gray:      #708797;
$white:          #FFFFFF;
